@{
    ViewData["Title"] = "Aficiones";
}

<div class="text-center">
    <h1 style="font-size: 40px;" class="display-4">Algunas de mis aficiones son: </h1>
    <ul style="list-style: none;">
        <li>
            <p>BALONCESTO</p>
            <a href="https://www.wnba.com/">
                <img src="~/img/baloncesto.jpg" alt="Imagen de Baloncesto" width="100" height="100" />
            </a>
        </li>
        <li>
            <p>TEATRO</p>
            <a href="https://www.youtube.com/watch?v=2GeiqlgbUTs">
                <img src="~/img/teatro.jpg" alt="Imagen de Teatro" width="100" height="100" />
            </a>
        </li>
        <li>
            <p>MALABARES</p>
            <a href="https://www.youtube.com/watch?v=eW296QsbO98">
                <img src="~/img/malabares.jpg" alt="Imagen de Malabares" width="100" height="100" />
            </a>
        </li>
        <li>
            <p>COMEDIA</p>
            <a href="https://www.youtube.com/watch?v=-F5KMGB23Dg">
                <img src="~/img/comedia.jpg" alt="Imagen portada Divina comedia de Dante Alighieri" width="100" height="100" />
            </a>
        </li>
    </ul>
</div>
