@{
    ViewData["Title"] = "Contacto";
}

<div class="text-center">
    <h4 style="font-size: 40px;" class="display-4">Contacte conmigo en el siguiente enlace: </h4>
    <p><a href="mailto:almfernandez@es.gestamp.com">Almudena Fernández Cárdenas</a></p>
    <img src="~/img/correo.jpg" alt="Imagen de un sobre con un arroba en azul" width="400" height="400" />
</div>
