@{
    ViewData["Title"] = "Presentacion";
}

<div class="text-center">
    <h4 style="font-size: 40px;" class="display-4">Esta soy yo...</h4>
    <p>Programadora informática de profesión con alma de criminóloga</p>
    <p>Teatrera y malabarista de la vida siempre con un balón en la mano</p>
    <p>La risa como única salida...</p>
    <img src="~/img/mono.jpg" alt="La cara de un mono" width="500" height="400" />
</div>
